.command-bar {
  --hue: 342;
  color: HSL(var(--hue), 10%, 40%);
}

.command-bar header {

}

.command-bar header input[type=search] {
  width: 100%;
  font-size: 1.5em;
  padding: 0.25em;
  border: none;
  color: HSL(var(--hue), 10%, 40%);
}

.command-bar header .breadcrumb {
  padding: 0;
  margin: 0;
  list-style: none;
}

.command-bar .command-bar-results {
  padding: 0;
  margin: 0;
  list-style: none;
}
